---
import BaseLayout from "@layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm";
---
<BaseLayout>
      <div class="richtext">
   <ContactForm> </ContactForm>
      </div>
    </BaseLayout>

 </div>

 <style>
    input {
        width:100%;
    }
 </style>