---
import BaseLayout from "@layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm";
---

<BaseLayout>
  <div class="richtext">
    <div class="flex min-h-screen items-center bg-gray-50 dark:bg-gray-900">
      <div class="container mx-auto">
        <div class="mx-auto my-10 max-w-md rounded-md bg-white p-5 shadow-sm">
          <div class="text-center">
            <h1
              class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200"
            >
              Kapcsolat
            </h1>
            <p class="text-gray-400 dark:text-gray-400">
              Lépjen kapcsolatba velünk alábbi ürlapon keresztül, és felvesszük
              Önnel a kapcsolatot!
            </p>
          </div>
          <div class="m-7">
            <form
              action="https://api.web3forms.com/submit"
              method="POST"
              id="form"
            >
              <input
                type="hidden"
                name="access_key"
                value="bbb170f7-d162-4459-aa57-c5992f6509f6"
              />
              <input
                type="hidden"
                name="subject"
                value="New Submission from Web3Forms"
              />
              <input
                type="hidden"
                name="redirect"
                value="https://web3forms.com/success"
              />
              <input
                type="checkbox"
                name="botcheck"
                id=""
                style="display: none;"
              />
              <div class="mb-6">
                <label
                  for="name"
                  class="mb-2 block text-sm text-gray-600 dark:text-gray-400"
                  >Teljes Név</label
                >
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Dott János"
                  required
                  class="w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:focus:border-gray-500 dark:focus:ring-gray-900"
                />
              </div>
              <div class="mb-6">
                <label
                  for="email"
                  class="mb-2 block text-sm text-gray-600 dark:text-gray-400"
                  >Email cím</label
                >
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="te@email.hu"
                  required
                  class="w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:focus:border-gray-500 dark:focus:ring-gray-900"
                />
              </div>
              <div class="mb-6">
                <label
                  for="phone"
                  class="text-sm text-gray-600 dark:text-gray-400"
                  >Telefonszám</label
                >
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  placeholder="+36 (30) 4-770-777"
                  required
                  class="w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:focus:border-gray-500 dark:focus:ring-gray-900"
                />
              </div>
              <div class="mb-6">
                <label
                  for="message"
                  class="mb-2 block text-sm text-gray-600 dark:text-gray-400"
                  >Üzenet</label
                >

                <textarea
                  rows="5"
                  name="message"
                  id="message"
                  placeholder="Your Message"
                  class="w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:focus:border-gray-500 dark:focus:ring-gray-900"
                  required></textarea>
              </div>
              <div class="mb-6">
                <button
                  type="submit"
                  class="w-full rounded-md bg-indigo-300 bg-indigo-500 px-3 py-4 text-white focus:bg-indigo-600 focus:outline-none dark:bg-indigo-600"
                >
                  Üzenet elküldése
                </button>
              </div>
              <p class="text-center text-base text-gray-400" id="result"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  input {
    width: 100%;
  }
</style>
